// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.theater {
  height: 700px;
}

.hidden {
  visibility: hidden;
}

.shelf {
  display: inline-block;
  background-image:url('shelf.png');
  background-size: 125px 250px;
  background-repeat: repeat-y;
  height: 100%;
  width: 125px;
  margin-right: 0px !important;
}

.fitting-room {
  height: 500px;
}

.fitting-room-inner {
  width: 700px;
  height: 100%;
  margin-right: 0px !important;
}

.fitting-room-scene {
  background-image:url('dressing_room.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.fitting-room-scene img,
{
  position: absolute;
  left: 36%;
  top: 200px;
  width: 400px;
}

#shopping-pony-outfit {
  z-index: 2;
}

.clothing-sign {
  position: relative;
  top: 209px;
  padding: 10px;
  color: #c2a6d7;
  text-align: center;
  background-color: #9b5b97;
  font-size: 30px;
  height: 32px;
  vertical-align:-40%;
}

.clothing-list-item {
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 30px;
  list-style-type: none;
}

#messages {
  height: 200px;
  width: 400px;
  border-style: solid;
  border-width: 5px;
  overflow:scroll;
}

#new-message-content {
  width: 300px;
  border-style: solid;
  border-width: 3px;
}