// Place all the styles related to the ponies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pony_list_item {
  list-style-type: none;
}

.heroine-name {
  color: white;
  visibility: hidden;
}

.center-stage {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 340px;
  width: 120px;
}

.center-stage img {
    width: 100%;
}

.original-cameo img{
  left: 44%;
  top: 320px;
  width: 250px;
}

.flipped-image {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}