// Place all the styles related to the ponies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pony_list_item {
  list-style-type: none;
}

.heroine-name {
  color: white;
}

.center-stage {
  position: relative;
  left: 790px;
  top: 360px;
}

#heroine {
  position: absolute;
  z-index: 2;
}